name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: ilias-laoukili
          template: classic
          base: header, repositories, metadata
          config_timezone: Europe/Paris
          
          config_theme: tokyonight
          
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css, jupyter notebook
          plugin_languages_limit: 8
          plugin_languages_details: bytes-size, percentage
