name: Metrics
on:
  # Schedule daily updates (runs at 00:00 UTC)
  schedule: [{cron: "0 0 * * *"}]
  # (Optional) Run workflow manually when you click "Run workflow"
  workflow_dispatch:
  # (Optional) Run workflow when pushing to master/main
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          # Options
          user: ilias-laoukili
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Paris
          
          # Languages plugin (Replaces your Top Langs card)
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
